
.alert.alert-info
  %h3 Καλώς Ορίσατε
  %p Εδώ θα βρείτε αυτό και εκείνο και το άλλο... και μετά αυτό. Ψάξτε κάτω αριστερά με συγγραφέα ή με ετικέτα. Εναλλακτικά διαλέξτε μία από τις ετικέτες με τα πιο πολλά γνωμικά.

.row
  .span6
    .alert.alert-info
      %h4 Καλώς Ορίσατε
      %p Εδώ θα βρείτε αυτό και εκείνο και το άλλο... και μετά αυτό. Ψάξτε κάτω αριστερά με συγγραφέα ή με ετικέτα. Εναλλακτικά διαλέξτε μία από τις ετικέτες με τα πιο πολλά γνωμικά.
      -#%h3 Το'πε...
      -#%form{:method => "POST", :action => "/author_quotes"}
        .input-prepend
          %span.add-on
            %i.icon-user
          %input{:type => "text", :name => "author", :placeholder => "Ποιός;", :autocomplete => "off", :"data-provide" => "typeahead", :"data-source" => @authors}
      -#%form{:method => "POST", :action => "/tag_quotes"}
        .input-prepend
          %span.add-on
            %i.icon-th
          %input{:type => "text", :name => "tag", :placeholder => "Τι;", :autocomplete => "off", :"data-provide" => "typeahead", :"data-source" => @tags}
          %input.hide_submit{:type => "submit"}
  .span6
    .alert.alert-warning
      %h4 Καλώς Ορίσατε
      %p Εδώ θα βρείτε αυτό και εκείνο και το άλλο... και μετά αυτό. Ψάξτε κάτω αριστερά με συγγραφέα ή με ετικέτα. Εναλλακτικά διαλέξτε μία από τις ετικέτες με τα πιο πολλά γνωμικά.

-#%h1 "#{ENV['RACK_ENV']}"

